body {
	padding: 20px;
}

h1 {
	height: 5vh;
}

#main-container {
	width: 100%;
	height: 65vh;
}

#line-charts {
	height: calc(30vh - 30px);
}

.axis path {
	stroke: black;
	fill: none;
}

.axis line {
	stroke: white;
}

#tip {
	position: absolute;
	opacity: 0;
	transition: all .25s ease-in-out;
}

#tip.active {
	opacity: 1;
}

#line-charts svg {
	width: 100%;
	height: 100%;
}

.row, .column {
	height: 100%;
}

#bar-chart rect.bar.active {
	fill: red;
}

#sort-button {
	position: absolute;
	right: 0px;
	top: 0px;
}